<a class="waves-effect waves-teal btn-flat {{if tooltip-text 'tooltipped'}}"
  title="{{title}}"
  data-tooltip="{{if tooltip-text tooltip-text}}" data-position="{{tooltip-pos}}">
  <i class="material-icons">{{icon}}</i>{{label}}
</a>
