<div class="col s12 m4">
  <div class="card hoverable sticky-action scale-transition scale-out">
    <!-- <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div> -->
    <div class="card-content center activator card-reveal-anki">
      <em class="left grey-text">FRENTE</em><span class="card-title grey-text text-darken-4 p-r-20">{{front}}</span>
      <p class="grey-text m-t-20"><i>VER RESPOSTA</i></p>
    </div>

    <div class="card-action grey lighten-2 grey-text text-darken-4">
      {{button-materialize label="Remover" color="red darken-4"}}
      {{button-materialize label="Editar"}}
    </div>

    <div class="card-reveal center grey lighten-4">
      <em class="left grey-text">ATRÁS</em><span class="card-title grey-text text-darken-4">{{front}}<i class="material-icons right">close</i></span>
      <p>{{back}}</p>
    </div>
  </div>
</div>
